* {
    font-family: 'Lexend', sans-serif;
}

.bg-image {
    background: url('https://i.ibb.co/P59rBvs/hero-learn-today.jpg');
    height: 50vh;
    background-repeat: no-repeat;
}

.custom-icon {
    color: #0EA5E9;
}